<div [@slideInOut]="isOpen" class='detail-panel'>
  <header>
    <h1><fa-icon (click)='closeMe()' [icon]="faTimes" title='Details' aria-label='Details'></fa-icon>Detail</h1>
  </header>
  <aside>
    <ejs-accordion>
      <e-accordionitems>
        <e-accordionitem expanded='true'>
          <ng-template #header>
            <div>Selection</div>
          </ng-template>
          <ng-template #content>
            <div>
              <ul>
                <li>
                  <strong>Data sources:</strong> &nbsp;
                  <ng-container *ngFor='let dataSource of dbd?.dataSources; let last = last'>
                    <ng-container *ngIf='dataSource.isChecked'>{{dataSource.name}}</ng-container>
                    <ng-container *ngIf='!last'>, </ng-container>
                  </ng-container>
                </li>
                <li>
                  <strong>Date Range:</strong> {{dbd?.from | date}} to {{dbd?.to | date}}
                </li>
                <li>
                  <strong>Litter Types:</strong> &nbsp;
                  <ng-container *ngFor='let litterType of dbd?.litterTypes; let last = last'>
                    <ng-container *ngIf='litterType.isChecked'>{{litterType.name}}</ng-container>
                    {{litterType.name}}
                    <ng-container *ngIf='!last'>, </ng-container>
                  </ng-container>
                </li>
<!--                <li>-->
<!--                  <strong>Location:</strong> &nbsp;-->
<!--                  <ng-container *ngIf='dbd.selectionPolygon.length < 1'>-->
<!--                    Global-->
<!--                  </ng-container>-->
<!--                  <ng-container *ngIf='dbd.selectionPolygon.length > 0 && !selectedAreaName'>-->
<!--                    Custom Selection-->
<!--                  </ng-container>-->
<!--                  <ng-container *ngIf='dbd.selectionPolygon.length > 0 && selectedAreaName'>-->
<!--                    {{selectedAreaName}}-->
<!--                  </ng-container>-->
<!--                </li>-->
              </ul>

            </div>
          </ng-template>
        </e-accordionitem>

        <e-accordionitem expanded='true'>
          <ng-template #header>
            <div>Litter Collected Chart</div>
          </ng-template>
          <ng-template #content>
            <ngx-charts-pie-chart
              [view]='view'
              [results]='single'
              [gradient]='gradient'
              [legend]='showLegend'
              [legendPosition]='legendPosition'
              [labels]='showLabels'
              [doughnut]='isDoughnut'
              (select)='onSelect($event)'
              (activate)='onActivate($event)'
              (deactivate)='onDeactivate($event)'
            ></ngx-charts-pie-chart>
          </ng-template>
        </e-accordionitem>

        <e-accordionitem expanded='true'>
          <ng-template #header>
            <div>Litter Collected Detail</div>
          </ng-template>
          <ng-template #content>
            <div>
              <ul *ngIf='single'>
                <li *ngFor='let item of single'>
                  {{item.name}} <em>({{item.value}})</em>
                </li>
              </ul>
            </div>

          </ng-template>
        </e-accordionitem>

        <e-accordionitem expanded='true'>
          <ng-template #header>
            <div>Location Provided</div>
          </ng-template>
          <ng-template #content>
            <ngx-charts-pie-chart
              [view]='view'
              [results]='providedLocation'
              [gradient]='gradient'
              [legend]='showLegend'
              [legendPosition]='legendPosition'
              [labels]='showLabels'
              [doughnut]='isDoughnut'
              (select)='onSelect($event)'
              (activate)='onActivate($event)'
              (deactivate)='onDeactivate($event)'
            ></ngx-charts-pie-chart>
          </ng-template>
        </e-accordionitem>

      </e-accordionitems>
    </ejs-accordion>





<!--    <h2>{{selectedMapItem?.title}}</h2>-->

<!--    <img [src]='selectedMapItem?.imageUrl' alt=''>-->

<!--    <p>{{selectedMapItem?.description}}</p>-->
<!--    <p>-->
<!--      Lat/Lon: {{selectedMapItem?.latitude.toFixed(4)}}/{{selectedMapItem?.longitude.toFixed(4)}}-->
<!--    </p>-->



<!--    <br><br><br><br><br>-->
<!--    <p>*{{selectedMapItem | json}}*</p>-->
  </aside>

</div>
