<div [@slideInOut]="isOpen" class='filter-panel'>
  <header>
    <h1><fa-icon (click)='closeMe()' [icon]="faTimes"></fa-icon> Configuration</h1>
  </header>

  <section class='logo-section'>
    <img class='logo' src='../../../assets/images/tm-logo.png' />
  </section>

  <ejs-accordion>
    <e-accordionitems>
      <e-accordionitem expanded='true'>
        <ng-template #header>
          <div>Data Sources</div>
        </ng-template>
        <ng-template #content>
          <div id='dataSources'><ejs-treeview #dataSources=""  [fields]='field2' [showCheckBox]='showCheckBox' (nodeChecked)='dataSourceChanged($event)'></ejs-treeview></div>
        </ng-template>
      </e-accordionitem>
      <e-accordionitem>
        <ng-template #header>
          <div>Time Period</div>
        </ng-template>
        <ng-template #content>
          <label *ngIf='dashBoardData' class='filter-label'>From<br>
            <ejs-datepicker [(value)]='dashBoardData.from'></ejs-datepicker>
          </label>

          <label *ngIf='dashBoardData' class='filter-label'>To<br>
            <ejs-datepicker [(value)]='dashBoardData.to'></ejs-datepicker>
          </label>

          <button (click)='setWeek()' class='filter-button' ejs-button>Past Week</button>
          <button (click)='setMonth()' class='filter-button' ejs-button>Past Month</button>
          <button (click)='setYear()' class='filter-button' ejs-button>Past Year</button>

        </ng-template>
      </e-accordionitem>
      <e-accordionitem>
        <ng-template #header>
          <div>Litter Type</div>
        </ng-template>
        <ng-template #content>
          <div id='treeparent'><ejs-treeview #treeview="" id='treeelement' [fields]='field' [showCheckBox]='showCheckBox' (nodeChecked)='nodeChecked($event)'></ejs-treeview></div>
        </ng-template>
      </e-accordionitem>
      <e-accordionitem>
        <ng-template #header>
          <div>Location</div>
        </ng-template>
        <ng-template #content>
          <ejs-dropdownlist id='diacritics' [dataSource]='data' [allowFiltering]='true' [ignoreAccent]='true' placeholder='Select a value'
                            filterBarPlaceholder='e.g: Cornwall'>
          </ejs-dropdownlist>
        </ng-template>
      </e-accordionitem>
    </e-accordionitems>
  </ejs-accordion>
  <ng-content></ng-content>
</div>
