<div class='filter-panel'>
  <header>
    <h1><fa-icon [icon]="faTools"></fa-icon> Configuration</h1>
  </header>

  <section class='logo-section'>
    <img class='logo' src='../../../assets/images/tm-logo.png' />
  </section>

  <ejs-accordion>
    <e-accordionitems>
      <e-accordionitem expanded='true'>
        <ng-template #header>
          <div>Data Sources</div>
        </ng-template>
        <ng-template #content>
          <ul>
            <li><ejs-checkbox label="2 Minute Stations" [checked]="true"></ejs-checkbox></li>
            <li><ejs-checkbox label="#2minutebeachclean" ></ejs-checkbox></li>
            <li><ejs-checkbox label="#2minutelitterpick"></ejs-checkbox></li>
            <li><ejs-checkbox label="#2minutestreetclean"></ejs-checkbox></li>
            <li><ejs-checkbox label="#2minutesolution"></ejs-checkbox></li>
          </ul>
        </ng-template>
      </e-accordionitem>
      <e-accordionitem>
        <ng-template #header>
          <div>Time Period</div>
        </ng-template>
        <ng-template #content>
          <label class='filter-label'>From<br>
            <ejs-datepicker></ejs-datepicker>
          </label>

          <label class='filter-label'>To<br>
            <ejs-datepicker></ejs-datepicker>
          </label>

          <button class='filter-button' ejs-button>Past Week</button>
          <button class='filter-button' ejs-button>Past Month</button>
          <button class='filter-button' ejs-button>Past Year</button>

        </ng-template>
      </e-accordionitem>
      <e-accordionitem>
        <ng-template #header>
          <div>Litter Type</div>
        </ng-template>
        <ng-template #content>
          <div id='treeparent'><ejs-treeview #treeview="" id='treeelement' [fields]='field' [showCheckBox]='showCheckBox' (nodeChecked)='nodeChecked($event)'></ejs-treeview></div>
        </ng-template>
      </e-accordionitem>
      <e-accordionitem>
        <ng-template #header>
          <div>Location</div>
        </ng-template>
        <ng-template #content>
          <ejs-dropdownlist id='diacritics' [dataSource]='data' [allowFiltering]='true' [ignoreAccent]='true' placeholder='Select a value'
                            filterBarPlaceholder='e.g: Cornwall'>
          </ejs-dropdownlist>
        </ng-template>
      </e-accordionitem>
    </e-accordionitems>
  </ejs-accordion>
</div>
